@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

@font-face {
  font-family: 'Averia Serif Regular';
  src: url(../assets/typography/AveriaSerif-Regular.ttf);
}

@font-face {
  font-family: 'Averia Serif Bold Italic';
  src: url(../assets/typography/AveriaSerif-BoldItalic.ttf);
}

@font-face {
  font-family: 'Agrandir';
  src: url(../assets/typography/Agrandir-Narrow.otf);
}

@font-face {
  font-family: 'Agrandir Narrow';
  src: url(../assets/typography/Agrandir-Narrow.otf);
}

@font-face {
  font-family: 'OPTIArtCraft';
  src: url(../assets/typography/OPTIArtCraft-Bold.otf);
}

@font-face {
  font-family: 'Copenhagen Grotesk';
  src: url(../assets/typography/CopenhagenGrotesk.otf);
}

@font-face {
  font-family: 'Copenhagen Grotesk Light';
  src: url(../assets/typography/CopenhagenGrotesk-light.otf);
}
